
@{
    ViewBag.Title = "ProfileGet";
    Layout = null;
}
<div style="text-align:center; border:solid #333;">
    <h2>Profil Bilgileri</h2>
</div>
<br />
<br />
    <div style="text-align:center; border:solid #333;">
        <br />
        <h3>    Hoş Geldiniz @ViewBag.v1 @ViewBag.v2 ! </h3>
        <br />
        <div style="text-align:center;">
            <h4>
                Mail Adresiniz: @ViewBag.v3
                <br />
                <br />
                Şifreniz   : @ViewBag.v4
                <br />
                <br />
                ID Bilginiz   : @ViewBag.v5

            </h4>
        </div>
    </div>
